torch==1.11.0
xgboost==1.5.2
optuna==2.10.0
joblib==1.1.0
numpy==1.22.2
pandas==1.4.1
h5py==3.5.0
scikit-learn==1.0.2
XlsxWriter==3.0.3
seaborn==0.11.2
biopython
networkx
scipy
matplotlib==3.4.3
qdarkstyle
sip
datetime
iFeatureOmegaCLI
rdkit
sentencepiece
transformers
tqdm